.votebox {
  height: 100px;
  width: 100px;
  display: flex;
  text-align: center;
  flex-direction: column;
  font-size: 1em;

  .vote {
    cursor: pointer;
    &:hover {
      color: orange;
    }
  }

  .active.up {
    color: green;
  }

  .active.down {
    color: #ff0b30;
  }
}
